<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:weightSum="1">


    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="246dp"
        android:weightSum="1">

        <ImageButton
            android:layout_width="115dp"
            android:layout_height="wrap_content"
            app:srcCompat="@drawable/historique"
            android:layout_below="@+id/imageButton2"
            android:layout_marginTop="101dp"
            android:id="@+id/imageButton4"
            android:layout_alignRight="@+id/imageButton2"
            android:layout_alignEnd="@+id/imageButton2"
            android:layout_weight="0.30" />

        <ImageButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            app:srcCompat="@drawable/liste"
            android:id="@+id/imageButton2"
            android:layout_marginTop="102dp"
            android:layout_alignParentTop="true"
            android:layout_alignParentLeft="true"
            android:layout_alignParentStart="true"
            android:layout_marginLeft="42dp"
            android:layout_marginStart="42dp"
            android:layout_weight="0.19" />
    </LinearLayout>

    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="135dp"
        android:weightSum="1">

        <ImageButton
            android:layout_width="109dp"
            android:layout_height="103dp"
            app:srcCompat="@drawable/caddy"
            android:id="@+id/imageButton3"
            android:layout_alignTop="@+id/imageButton2"
            android:layout_alignParentRight="true"
            android:layout_alignParentEnd="true"
            android:layout_marginRight="68dp"
            android:layout_marginEnd="68dp"
            android:layout_weight="0.09" />
    </LinearLayout>

</LinearLayout>
